.dashboard-container {
    text-align: center;
    padding: 20px;
  }
  
  .dashboard-metric {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .navigation-link {
    margin: 10px;
    padding: 10px;
    background-color: #3498db;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navigation-link:hover {
    background-color: #2980b9;
  }